<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">  
  </head>  
  <body>
    <h1>Create your Profile</h1>
    <form class = "addRobotForm" action="/robots" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="text" name="email" placeholder="Email">
      <input type="text" name="university" placeholder="University">
      <input type="text" name="job" placeholder="Job">
      <input type="text" name="company" placeholder="Company">
      <input type="text" name="skills" placeholder="Skills">
      <input type="text" name="phone" pattern='[0-9]{10}' placeholder="Phone number">
      <input type="text" name="avatar" placeholder="Avatar URL">  
      <input type="text" name="address" placeholder="Address">            
      <hr>
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <hr>
      <input type="submit" name="" value="Create Your Profile!">
    </form>
  </body>
</html>