<head>
    <link rel="stylesheet" href="../singlerobot.css"/>
</head>
<form class = "loginboxes" action="/editrobot" method="POST">
    <a href = "http://localhost:3000/robots">Return to home page</a>          
    <hr>    
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <hr>
    <input type="submit" name="" value="Click to sign in!!">
</form>
