<form class = "loginboxes" action="/robots" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <hr>
    <input type="submit" name="" value="Log in, brew dawg...">
</form>