<head>
    <link rel="stylesheet" href="../singlerobot.css"/>
</head>
<h1>Log in to view all robots!</h1>
<form class = "loginboxes" action="/login" method="POST">
    <a href = "http://localhost:3000/addrobot">New User? Sign up!</a>
    <hr>    
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <hr>
    <input type="submit" name="" value="Click to sign in!!">
</form>
