<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="../singlerobot.css"/>
{{>_head}}
    </head>
  <body>
<div class = "robotFlex">
      <div class = "imageAndName">
        {{>_robot}}
      </div>
      <div class = "addressAndPhone">
        {{address.city}}, {{address.country}}
        {{email}}
        {{phone}}
      </div>

        {{#university}}
        <h3>Education:<p>{{university}}</p></h3>
        {{/university}}
        <ul>
          <h3>Skills: </h3>
          <li>{{skills}}</li>
        </ul>
</div>
      <div class = "submitForms">
        <a href = "http://localhost:3000/login">Log in here to edit your profile!</a>     
        <br>     
        <a href = "http://localhost:3000/robots">Return to home page</a>          
      </div>
  </body>
</html>