<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles.css"/>
    </head>
    <body>
    <h1>Brobots for Hire</h1>
        <a href = "http://localhost:3000/addrobot">New User? Sign up!</a>
        <hr>                        
            <p>Already have an account?</p>
        <form class = "existingRobotForm" action="/_robot/1" method="POST">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" name="" value="Log in to your profile!">            
        </form>  
    <div class = "container">
        <a href = "http://localhost:3000/_robot/{{id}}">                   
        <div class="robotCards">         
            {{#robots}}  
            <a href = "http://localhost:3000/_robot/{{id}}">                                               
            {{>_robot}}
            {{/robots}}
        </div>
        </a>  
    </div>          
    </body>
</html>