<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles.css"/>
    </head>
    <body>
    <h1>Brobots for Hire</h1>
        <a href = "http://localhost:3000/login"><button>Logout</button></a>        
        <hr>                        
    <div class = "container">
            {{#robots}}  
        <a href = "http://localhost:3000/_robot/{{id}}">                                               
            {{>_robot}}
            {{/robots}}
        </a>  
    </div>          
    </body>
</html>